


.nav {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 50px;
  position: fixed;
}

.nav h1 {
  margin-left: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

video {
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  background-color: pink;
}

.card-text {
  color: white;
}
div.card {
  background-color: rgba(157, 76, 118, 0.27);
}
button.btn.btn-primary {
  background-color: black;
  border-style: none;
}
#project-section {
  margin-top: 2000px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.bottom img {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.icons {
  margin-left: 97%;
  
}
