.nav {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 50px;
  position: fixed;
}

.nav h1 {
  margin-left: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

video {
  position: absolute;
  top: 0;
  left: 0;
}

.card-title.h5 {
  color: white;
  font-size: 50px;
}
.card-text {
  color: white;
  font-size:30px;
}

div.card {
  background-color: rgba(227, 227, 227, 0.2);
  margin: 50px;
}
button.btn.btn-primary {
  background-color: black;
  border-style: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.bottom img {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.icons {
  margin-left: 97%;  
}
.bottom-icons {
  position: fixed;
  left: 70px;
  bottom: 70px;
  background-color: rgba(245, 148, 37, 0.721);
  padding: 15px;
  border-radius: 50px;
  border-style: solid;
  border-color: white;
  width: 100px;
  height: 150px;
}
.projects {
  color: white;
  margin-top: 400px;
  background-color: rgba(0, 0, 0, 0.86);
  border-style: solid;
  border-color: rgba(227, 227, 227, 0.2);
}
.projects h1 {
  padding: 25px;
}
.section-title { 
  background-color: rgba(82, 83, 91, 0.5);
}